.page {
   // .page__get-in-touch
   &__get-in-touch {
   }
}

// =============================================================================================================

.get-in-touch {
   padding: toRem(150) toRem(0) toRem(100) toRem(0);
   @media (max-width: toEm($pc)) {
      padding: toRem(100) toRem(0);
   }
   @media (max-width: toEm($tablet)) {
      padding: toRem(70) toRem(0);
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(50) toRem(0);
   }
   // .get-in-touch__container
   &__container {
      position: relative;
      display: flex;
      column-gap: toRem(50);
      @media (max-width: toEm($pc)) {
         column-gap: toRem(30);
      }
      @media (max-width: toEm($tablet)) {
         flex-direction: column-reverse;
         row-gap: toRem(30);
         text-align: center;
         .section-header__sub-title {
            justify-content: center;
         }
      }
   }
   // .get-in-touch__image
   &__image {
      flex: 0 1 toRem(585);
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      @media (max-width: toEm($tablet)) {
         flex: 0 1 auto;
         height: toRem(400);
      }
      @media (max-width: toEm($mobileSmall)) {
         margin: 0 toRem(-15);
      }
   }
   // .get-in-touch__content
   &__content {
      flex: 0 1 toRem(585);
      @media (max-width: toEm($tablet)) {
         flex: 0 1 auto;
      }
   }
   // .get-in-touch__header
   &__header {
      .section-header__container {
         padding: 0;
      }
      &:not(:last-child) {
         margin-bottom: toRem(33);
      }
   }
   // .get-in-touch__list
   &__list {
      @media (max-width: toEm($tablet)) {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: space-evenly;
         gap: toRem(30);
      }
   }
   // .get-in-touch__item
   &__item {
      display: flex;
      align-items: center;
      gap: toRem(19);
      &:not(:last-child) {
         margin-bottom: toRem(30);
         @media (max-width: toEm($tablet)) {
            margin-bottom: 0;
         }
      }
      @media (max-width: toEm($tablet)) {
         justify-content: center;
         flex-direction: column;
      }
   }
   // .get-in-touch__icon
   &__icon {
      flex: 0 0 toRem(68);
      width: toRem(68);
      height: toRem(68);
      border-radius: 50%;
      background-color: $mainBg;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
         max-width: 100%;
         object-fit: contain;
      }
   }
   // .get-in-touch__box
   &__box {
   }
   // .get-in-touch__title
   &__title {
      font-size: toRem(16);
      line-height: 1.35;
   }
   // .get-in-touch__link
   &__link {
      font-family: $secondaryFont;
      color: $dark;
      line-height: 1.5;
      transition: color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $accent;
         }
      }
   }
}

// =============================================================================================================
