.page {
   // .page__welcome
   &__welcome {
   }
   // .page__clients
   &__clients {
   }
   // .page__services
   &__services {
   }
}

// =============================================================================================================

.welcome {
   display: flex;
   column-gap: toRem(69);
   @media (max-width: toEm($pc)) {
      column-gap: 0;
   }
   @media (max-width: toEm($tablet)) {
      flex-direction: column-reverse;
   }
   // .welcome__aside
   &__aside {
      flex: 0 1 43.125%; /* 828/1920 */
      padding: toRem(145) toRem(68) toRem(145) 18.28125%;
      background-color: $mainBg;
      @media (max-width: toEm(1440)) {
         padding: toRem(145) toRem(68) toRem(145) toRem(120);
      }
      @media (max-width: toEm($pc)) {
         padding: toRem(100) toRem(50);
      }
      @media (max-width: toEm($tablet)) {
         padding: toRem(35) toRem(30) toRem(70) toRem(30);
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(30) toRem(20) toRem(40) toRem(20);
      }
      @media (max-width: toEm($mobileSmall)) {
         padding-inline: toRem(15);
      }
   }
   // .welcome__article
   &__article {
      @media (max-width: toEm($tablet)) {
         max-width: toRem(600);
      }
   }
   // .welcome__body
   &__body {
      flex: 0 1 toRem(635);
      padding: toRem(145) toRem(15) toRem(145) 0;
      @media (max-width: toEm($pc)) {
         padding: toRem(100) toRem(50);
      }
      @media (max-width: toEm($tablet)) {
         padding: toRem(70) toRem(30) toRem(35) toRem(30);
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(40) toRem(20) toRem(30) toRem(20);
      }
      @media (max-width: toEm($mobileSmall)) {
         padding-inline: toRem(15);
      }
   }
   // .welcome__header
   &__header {
      & .section-header__container {
         padding: 0;
      }
      & .section-header__title {
         max-width: toRem(415);
      }
      &:not(:last-child) {
         margin-bottom: toRem(20);
      }
      @media (max-width: toEm($tablet)) {
         & .section-header__text {
            max-width: toRem(600);
         }
      }
   }
   // .welcome__list
   &__list {
      &:not(:last-child) {
         margin-bottom: toRem(43);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(20);
         }
      }
   }
   // .welcome__item
   &__item {
      display: flex;
      align-items: center;
      gap: toRem(8);
      font-family: $secondaryFont;
      font-weight: 400;
      font-size: toRem(20);
      color: $dark;
      line-height: 1.65;
      &:not(:last-child) {
         margin-bottom: toRem(23);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(10);
         }
      }
      @media (max-width: toEm($mobileSmall)) {
         line-height: 1.2;
      }
      &::before {
         content: "";
         flex: 0 0 toRem(27);
         width: toRem(27);
         height: toRem(27);
         background: url("../img/icons/list-item.svg") 0 0 / contain no-repeat;
      }
   }
   // .welcome__benefits
   &__benefits {
      &:not(:last-child) {
         margin-bottom: toRem(37);
      }
   }
   // .welcome__button
   &__button {
      @media (max-width: toEm($mobileSmall)) {
         width: 100%;
      }
   }
}

.article-welcome {
   // .article-welcome__image
   &__image {
      max-width: toRem(408);
      object-fit: cover;
      aspect-ratio: 408 / 446;
      &:not(:last-child) {
         margin-bottom: toRem(22);
      }
      @media (max-width: toEm($pc)) {
         width: 100%;
      }
      @media (max-width: toEm($mobileSmall)) {
         max-width: toRem(330);
      }
   }
   // .article-welcome__title
   &__title {
      font-family: $secondaryFont;
      font-weight: 600;
      font-size: toRem(30);
      line-height: 1.21;
      color: $dark;
      &:not(:last-child) {
         margin-bottom: toRem(13);
      }
      @media (max-width: toEm($mobile)) {
         font-size: toRem(24);
      }
   }
   // .article-welcome__text
   &__text {
      line-height: 1.46;
      &:not(:last-child) {
         margin-bottom: toRem(23);
      }
   }
   // .article-welcome__link
   &__link {
      font-weight: 600;
      color: $dark;
      line-height: 1.22;
      padding-bottom: toRem(2);
      border-bottom: toRem(2) solid;
      transition: color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $accent;
         }
      }
   }
}

.benefits-welcome {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   column-gap: toRem(21);
   row-gap: toRem(10);
   @media (max-width: toEm($mobileSmall)) {
      justify-content: center;
   }
   // .benefits-welcome__item
   &__item {
      flex: 0 1 toRem(296);
      padding: toRem(32);
      border: toRem(1) solid #e3e3e3;
      display: flex;
      align-items: flex-start;
      column-gap: toRem(20);
      @media (max-width: toEm($mobile)) {
         padding: toRem(20) toRem(15);
      }
   }
   // .benefits-welcome__image
   &__image {
      flex: 0 0 toRem(42);
      width: toRem(42);
      height: toRem(42);
      object-fit: contain;
   }
   // .benefits-welcome__content
   &__content {
   }
   // .benefits-welcome__title
   &__title {
      font-family: $secondaryFont;
      font-weight: 600;
      font-size: toRem(20);
      line-height: 1.5;
      color: $dark;
      &:not(:last-child) {
         margin-bottom: toRem(3);
      }
   }
   // .benefits-welcome__text
   &__text {
      font-size: toRem(16);
      line-height: 1.35;
   }
}

// =============================================================================================================

.clients {
   padding: toRem(100) 0 toRem(41);
   @media (max-width: toEm($tablet)) {
      padding: toRem(70) 0 toRem(40);
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(40) 0;
   }
   // .clients__container
   &__container {
   }
   // .clients__list
   &__list {
      padding-inline: toRem(38);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: toRem(114);
      row-gap: toRem(15);
      @media (max-width: toEm($pc)) {
         padding-inline: 0;
         column-gap: toRem(80);
      }
      @media (max-width: toEm($tablet)) {
         column-gap: toRem(60);
      }
      @media (max-width: toEm($mobile)) {
         column-gap: toRem(50);
      }
   }
   // .clients__item
   &__item {
   }
   // .clients__logo
   &__logo {
      max-width: 100%;
      object-fit: contain;
   }
}

// =============================================================================================================

.services {
   padding: toRem(40) toRem(0) toRem(130) toRem(0);
   @media (max-width: toEm($pc)) {
      padding-bottom: toRem(100);
   }
   @media (max-width: toEm($tablet)) {
      padding-bottom: toRem(70);
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(40) toRem(0);
   }
   // .services__container
   &__container {
   }
   // .services__header
   &__header {
      max-width: toRem(510);
      margin: 0 auto;
      &:not(:last-child) {
         margin-bottom: toRem(40);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(25);
         }
      }
   }
   // .services__list
   &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: toRem(32);
      row-gap: toRem(27);
      @media (max-width: toEm($pc)) {
         gap: toRem(20);
      }
      @media (max-width: toEm(1100)) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: toEm($mobile)) {
         grid-template-columns: auto;
         gap: toRem(10);
      }
   }
   // .services__item
   &__item {
      @media (max-width: toEm($mobileSmall)) {
         margin: 0 toRem(-15);
      }
   }
   // .services__link-more
   &__link-more {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(25);
      font-weight: 600;
      color: #fff;
      line-height: 1.2;
      background-color: $secondary;
      transition: background-color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: $accent;
         }
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(20);
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(22);
      }
   }
}

.item-services {
   padding: toRem(30);
   background-color: $mainBg;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   gap: toRem(30);
   @media (max-width: toEm($mobileSmall)) {
      padding: toRem(20) toRem(15);
   }
   // .item-services__content
   &__content {
   }
   // .item-services__title
   &__title {
      font-family: $secondaryFont;
      font-weight: 600;
      font-size: toRem(25);
      line-height: 1.27;
      color: $dark;
      &:not(:last-child) {
         margin-bottom: toRem(27);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(15);
         }
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(22);
      }
   }
   // .item-services__link
   &__link {
      font-weight: 600;
      color: $secondary;
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $accent;
         }
      }
   }
   // .item-services__image
   &__image {
      flex: 0 0 toRem(72);
      width: toRem(72);
      height: toRem(72);
      border-radius: 50%;
      background-color: $accent;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: toRem(5);
      &--accent {
         background-color: $secondary;
      }
      img {
         max-width: 100%;
         object-fit: contain;
      }
   }
}

// =============================================================================================================
