.page {
   // .page__welcome
   &__welcome {
   }
   // .page__clients
   &__clients {
   }
   // .page__services
   &__services {
   }
   // .page__why
   &__why {
   }
   // .page__projects
   &__projects {
   }
   // .page__testimonial
   &__testimonial {
   }
   // .page__how
   &__how {
   }
   // .page__team
   &__team {
   }
   // .page__news
   &__news {
   }
   // .page__subscribe
   &__subscribe {
      margin-bottom: toRem(200);
      @media (max-width: toEm($pc)) {
         margin-bottom: toRem(100);
      }
      @media (max-width: toEm($tablet)) {
         margin-bottom: toRem(70);
      }
      @media (max-width: toEm($mobile)) {
         margin-bottom: toRem(40);
      }
   }
}

// =============================================================================================================

.welcome {
   display: flex;
   column-gap: toRem(69);
   @media (max-width: toEm($pc)) {
      column-gap: 0;
   }
   @media (max-width: toEm($tablet)) {
      flex-direction: column-reverse;
   }
   // .welcome__aside
   &__aside {
      flex: 0 1 43.125%; /* 828/1920 */
      padding: toRem(145) toRem(68) toRem(145) 18.28125%;
      background-color: $mainBg;
      @media (max-width: toEm(1440)) {
         padding: toRem(145) toRem(68) toRem(145) toRem(120);
      }
      @media (max-width: toEm($pc)) {
         padding: toRem(100) toRem(50);
      }
      @media (max-width: toEm($tablet)) {
         padding: toRem(35) toRem(30) toRem(70) toRem(30);
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(30) toRem(20) toRem(40) toRem(20);
      }
      @media (max-width: toEm($mobileSmall)) {
         padding-inline: toRem(15);
      }
   }
   // .welcome__article
   &__article {
      @media (max-width: toEm($tablet)) {
         max-width: toRem(600);
      }
   }
   // .welcome__body
   &__body {
      flex: 0 1 toRem(690);
      padding: toRem(145) toRem(15) toRem(145) 0;
      @media (max-width: toEm($pc)) {
         padding: toRem(100) toRem(50);
      }
      @media (max-width: toEm($tablet)) {
         padding: toRem(70) toRem(30) toRem(35) toRem(30);
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(40) toRem(20) toRem(30) toRem(20);
      }
      @media (max-width: toEm($mobileSmall)) {
         padding-inline: toRem(15);
      }
   }
   // .welcome__header
   &__header {
      & .section-header__container {
         padding: 0;
      }
      & .section-header__title {
         max-width: toRem(415);
      }
      &:not(:last-child) {
         margin-bottom: toRem(20);
      }
      @media (max-width: toEm($tablet)) {
         & .section-header__text {
            max-width: toRem(600);
         }
      }
   }
   // .welcome__list
   &__list {
      &:not(:last-child) {
         margin-bottom: toRem(43);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(20);
         }
      }
   }
   // .welcome__item
   &__item {
      display: flex;
      align-items: center;
      gap: toRem(8);
      font-family: $secondaryFont;
      font-weight: 400;
      font-size: toRem(20);
      color: $dark;
      line-height: 1.65;
      &:not(:last-child) {
         margin-bottom: toRem(23);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(10);
         }
      }
      @media (max-width: toEm($mobileSmall)) {
         line-height: 1.2;
      }
      &::before {
         content: "";
         flex: 0 0 toRem(27);
         width: toRem(27);
         height: toRem(27);
         background: url("../img/icons/list-item.svg") 0 0 / contain no-repeat;
      }
   }
   // .welcome__benefits
   &__benefits {
      &:not(:last-child) {
         margin-bottom: toRem(37);
      }
   }
   // .welcome__button
   &__button {
      @media (max-width: toEm($mobileSmall)) {
         width: 100%;
      }
   }
   // .welcome__mission
   &__mission {
      &:not(:last-child) {
         margin-bottom: toRem(48);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(24);
         }
      }
   }
}

.article-welcome {
   // .article-welcome__image
   &__image {
      max-width: toRem(408);
      object-fit: cover;
      aspect-ratio: 408 / 446;
      &:not(:last-child) {
         margin-bottom: toRem(22);
      }
      @media (max-width: toEm($pc)) {
         width: 100%;
      }
      @media (max-width: toEm($mobileSmall)) {
         max-width: toRem(330);
      }
   }
   // .article-welcome__title
   &__title {
      font-family: $secondaryFont;
      font-weight: 600;
      font-size: toRem(30);
      line-height: 1.21;
      color: $dark;
      &:not(:last-child) {
         margin-bottom: toRem(13);
      }
      @media (max-width: toEm($mobile)) {
         font-size: toRem(24);
      }
   }
   // .article-welcome__text
   &__text {
      line-height: 1.46;
      &:not(:last-child) {
         margin-bottom: toRem(23);
      }
   }
   // .article-welcome__link
   &__link {
      font-weight: 600;
      color: $dark;
      line-height: 1.22;
      padding-bottom: toRem(2);
      border-bottom: toRem(2) solid;
      transition: color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $accent;
         }
      }
   }
}

.benefits-welcome {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   column-gap: toRem(21);
   row-gap: toRem(10);
   @media (max-width: toEm($mobileSmall)) {
      justify-content: center;
   }
   // .benefits-welcome__item
   &__item {
      flex: 0 1 toRem(296);
      padding: toRem(32);
      border: toRem(1) solid #e3e3e3;
      display: flex;
      align-items: flex-start;
      column-gap: toRem(20);
      @media (max-width: toEm($mobile)) {
         padding: toRem(20) toRem(15);
      }
   }
   // .benefits-welcome__image
   &__image {
      flex: 0 0 toRem(42);
      width: toRem(42);
      height: toRem(42);
      object-fit: contain;
   }
   // .benefits-welcome__content
   &__content {
   }
   // .benefits-welcome__title
   &__title {
      font-family: $secondaryFont;
      font-weight: 600;
      font-size: toRem(20);
      line-height: 1.5;
      color: $dark;
      &:not(:last-child) {
         margin-bottom: toRem(3);
      }
   }
   // .benefits-welcome__text
   &__text {
      font-size: toRem(16);
      line-height: 1.35;
   }
}

.mission-welcome {
   // .mission-welcome__item
   &__item {
      max-width: toRem(675);
      padding: toRem(28) toRem(40);
      border: toRem(1) solid #e3e3e3;
      &:not(:last-child) {
         margin-bottom: toRem(30);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(15);
         }
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(20) toRem(15);
      }
   }
   // .mission-welcome__title
   &__title {
      position: relative;
      padding-left: toRem(46);
      font-family: $secondaryFont;
      font-weight: 600;
      font-size: toRem(20);
      line-height: 1.5;
      color: $dark;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         flex: 0 0 toRem(27);
         width: toRem(27);
         height: toRem(27);
         background: url("../img/icons/list-item.svg") 0 0 / contain no-repeat;
      }
      &:not(:last-child) {
         margin-bottom: toRem(12);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(5);
         }
      }
   }
   // .mission-welcome__text
   &__text {
      padding-left: toRem(46);
      line-height: 1.46;
   }
}

// =============================================================================================================

.clients {
   padding: toRem(100) 0 toRem(41);
   @media (max-width: toEm($tablet)) {
      padding: toRem(70) 0 toRem(40);
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(40) 0;
   }
   // .clients__container
   &__container {
   }
   // .clients__list
   &__list {
      padding-inline: toRem(38);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: toRem(114);
      row-gap: toRem(15);
      @media (max-width: toEm($pc)) {
         padding-inline: 0;
         column-gap: toRem(80);
      }
      @media (max-width: toEm($tablet)) {
         column-gap: toRem(60);
      }
      @media (max-width: toEm($mobile)) {
         column-gap: toRem(50);
      }
   }
   // .clients__item
   &__item {
   }
   // .clients__logo
   &__logo {
      max-width: 100%;
      object-fit: contain;
   }
}

// =============================================================================================================

.services {
   padding: toRem(40) toRem(0) toRem(130) toRem(0);
   @media (max-width: toEm($pc)) {
      padding-bottom: toRem(100);
   }
   @media (max-width: toEm($tablet)) {
      padding-bottom: toRem(70);
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(40) toRem(0);
   }
   // .services__container
   &__container {
   }
   // .services__header
   &__header {
      max-width: toRem(510);
      margin: 0 auto;
      &:not(:last-child) {
         margin-bottom: toRem(40);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(25);
         }
      }
   }
   // .services__list
   &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: toRem(32);
      row-gap: toRem(27);
      @media (max-width: toEm($pc)) {
         gap: toRem(20);
      }
      @media (max-width: toEm(1100)) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: toEm($mobile)) {
         grid-template-columns: auto;
         gap: toRem(10);
      }
   }
   // .services__item
   &__item {
      @media (max-width: toEm($mobileSmall)) {
         margin: 0 toRem(-15);
      }
   }
   // .services__link-more
   &__link-more {
      width: 100%;
      height: 100%;
      padding: toRem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(25);
      font-weight: 600;
      color: #fff;
      line-height: 1.2;
      background-color: $secondary;
      transition: background-color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: $accent;
         }
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(22);
      }
   }
}

.item-services {
   padding: toRem(30);
   background-color: $mainBg;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   gap: toRem(30);
   @media (max-width: toEm($mobileSmall)) {
      padding: toRem(20) toRem(15);
   }
   // .item-services__content
   &__content {
   }
   // .item-services__title
   &__title {
      font-family: $secondaryFont;
      font-weight: 600;
      font-size: toRem(25);
      line-height: 1.27;
      color: $dark;
      &:not(:last-child) {
         margin-bottom: toRem(27);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(15);
         }
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(22);
      }
   }
   // .item-services__link
   &__link {
      font-weight: 600;
      color: $secondary;
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $accent;
         }
      }
   }
   // .item-services__image
   &__image {
      flex: 0 0 toRem(72);
      width: toRem(72);
      height: toRem(72);
      border-radius: 50%;
      background-color: $accent;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: toRem(5);
      &--accent {
         background-color: $secondary;
      }
      img {
         max-width: 100%;
         object-fit: contain;
      }
   }
}

// =============================================================================================================

.projects {
   padding: toRem(130) toRem(0) toRem(150) toRem(0);
   @media (max-width: toEm($pc)) {
      padding: toRem(100) toRem(0);
   }
   @media (max-width: toEm($tablet)) {
      padding: toRem(70) toRem(0);
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(40) toRem(0);
   }
   // .projects__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: toRem(60);
      &:not(:last-child) {
         margin-bottom: toRem(40);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(25);
         }
      }
      @media (max-width: toEm($mobile)) {
         flex-wrap: wrap;
         row-gap: toRem(15);
      }
   }
   // .projects__header
   &__header {
      flex: 0 1 toRem(555);
      & .section-header__container {
         padding: 0;
      }
   }
   // .projects__link
   &__link {
      flex-shrink: 0;
      color: #fff;
   }
   // .projects__list
   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      gap: toRem(40);
      padding: toRem(0) toRem(30);
      @media (max-width: toEm($pc)) {
         gap: toRem(20);
         padding: toRem(0) toRem(15);
      }
      @media (max-width: toEm($tablet)) {
         grid-template-columns: repeat(3, 1fr);
         gap: toRem(10);
      }
      @media (max-width: toEm($mobileSmall)) {
         grid-template-columns: repeat(2, 1fr);
      }
   }
   // .projects__item
   &__item {
   }
   // .projects__link-item
   &__link-item {
      width: 100%;
      height: 100%;
      overflow: hidden;
   }
   // .projects__image
   &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
      @media (any-hover: hover) {
         .projects__link-item:hover & {
            transform: scale(1.05);
         }
      }
   }
}

// =============================================================================================================

.how {
   padding: toRem(120) toRem(0);
   background-color: $secondary;
   color: #fff;
   @media (max-width: toEm($pc)) {
      padding: toRem(100) toRem(0);
   }
   @media (max-width: toEm($tablet)) {
      padding: toRem(70) toRem(0);
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(40) toRem(0);
   }
   // .how__container
   &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      column-gap: toRem(30);
      @media (max-width: toEm($pc)) {
         flex-direction: column;
         row-gap: toRem(70);
      }
      @media (max-width: toEm($mobile)) {
         row-gap: toRem(35);
      }
   }
   // .how__content
   &__content {
      flex: 0 1 toRem(587);
      @media (max-width: toEm($pc)) {
         margin: 0 auto;
      }
   }
   // .how__header
   &__header {
      .section-header__container {
         padding: 0;
         color: inherit;
         @media (max-width: toEm($pc)) {
            max-width: toRem(700);
            justify-items: center;
         }
      }
      .section-header__title {
         max-width: toRem(426);
      }
      .section-header__text {
         color: inherit;
      }
      &:not(:last-child) {
         margin-bottom: toRem(30);
      }
      @media (max-width: toEm($pc)) {
         text-align: center;
      }
   }
   // .how__projects
   &__projects {
      padding: toRem(35);
      display: flex;
      align-items: center;
      gap: toRem(23);
      background-color: $accent;
      font-family: $secondaryFont;
      &:not(:last-child) {
         margin-bottom: toRem(50);
         @media (max-width: toEm($pc)) {
            margin-bottom: toRem(25);
         }
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(20) toRem(15);
      }
      @media (max-width: toEm($mobileSmall)) {
         flex-direction: column;
         text-align: center;
         gap: toRem(10);
         margin: 0 toRem(-15);
      }
   }
   // .how__count
   &__count {
      flex: 0 0 toRem(128);
      width: toRem(128);
      height: toRem(128);
      border-radius: 50%;
      border: toRem(3) solid $secondary;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      line-height: 1.21;
      span {
         font-weight: 700;
         font-size: toRem(35);
         @media (max-width: toEm($mobile)) {
            font-size: toRem(30);
         }
         @media (max-width: toEm($mobileSmall)) {
            font-size: toRem(25);
         }
      }
      @media (max-width: toEm($mobileSmall)) {
         flex: 0 0 toRem(100);
         width: toRem(100);
         height: toRem(100);
      }
   }
   // .how__text
   &__text {
      font-size: toRem(25);
      line-height: 1.28;
      @media (max-width: toEm($mobile)) {
         font-size: toRem(20);
      }
      span {
         font-weight: 700;
      }
   }
   // .how__list
   &__list {
      padding-right: toRem(70);
      @media (max-width: toEm($pc)) {
         padding-right: 0;
      }
   }
   // .how__book-now
   &__book-now {
      flex: 0 0 toRem(580);
   }
   // .how__form
   &__form {
      @media (max-width: toEm($mobileSmall)) {
         margin: 0 toRem(-10);
      }
   }
}

.list-how {
   // .list-how__item
   &__item {
      display: flex;
      gap: toRem(16);
      &::before {
         content: "";
         flex: 0 0 toRem(27);
         width: toRem(27);
         height: toRem(27);
         background: url("../img/icons/list-item-accent.svg") 0 0 / contain no-repeat;
         margin-top: toRem(5);
      }
      &:not(:last-child) {
         margin-bottom: toRem(18);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(10);
         }
      }
      @media (max-width: toEm($pc)) {
         justify-content: center;
      }
   }
   // .list-how__content
   &__content {
      .list-how__item:not(:last-child) & {
         padding-bottom: toRem(20);
         border-bottom: toRem(1) solid #fff;
         @media (max-width: toEm($mobile)) {
            padding-bottom: toRem(10);
         }
      }
   }
   // .list-how__title
   &__title {
      font-family: $secondaryFont;
      font-weight: 600;
      font-size: toRem(22);
      line-height: 1.5;
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(20);
      }
   }
   // .list-how__text
   &__text {
      line-height: 1.46;
   }
}

.form-how {
   background-color: #fff;
   padding: toRem(58);
   @media (max-width: toEm($pc)) {
      text-align: center;
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(40) toRem(20);
   }
   // .form-how__body
   &__body {
      display: flex;
      flex-wrap: wrap;
      row-gap: toRem(30);
      column-gap: toRem(22);
      &:not(:last-child) {
         margin-bottom: toRem(25);
      }
   }
   // .form-how__item
   &__item {
      flex: 1 1 100%;
      &--small {
         flex: 1 1 47%;
         @media (max-width: toEm($mobileSmall)) {
            flex: 1 1 100%;
         }
      }
      &--date {
         position: relative;
         &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: toRem(18);
            width: toRem(16);
            height: toRem(16);
            background: url("../img/icons/date.svg") 0 0 / contain no-repeat;
            transform: translateY(-50%);
         }
      }
   }
   // .form-how__input
   &__input {
      width: 100%;
      height: toRem(65);
      padding: toRem(10) toRem(33);
      background-color: #f8f8f8;
      border: toRem(1) solid #ddd;
      &::placeholder {
         color: $dark;
      }
      .form-how__item--date & {
         padding-right: toRem(45);
      }
   }
   // .form-how__textarea
   &__textarea {
      width: 100%;
      min-height: toRem(139);
      padding: toRem(11) toRem(33);
      background-color: #f8f8f8;
      border: toRem(1) solid #ddd;
      resize: vertical;
      &::placeholder {
         color: $dark;
      }
   }
   // .form-how__button
   &__button {
   }
}

// =============================================================================================================

.team {
   position: relative;
   min-height: toRem(734);
   display: flex;
   align-items: center;
   justify-content: center;
   @media (max-width: toEm($tablet)) {
      min-height: toRem(650);
   }
   @media (max-width: toEm($mobile)) {
      min-height: toRem(520);
   }
   // .team__container
   &__container {
      position: relative;
      z-index: 1;
   }
   // .team__link
   &__link {
      padding: toRem(87) toRem(130);
      background-color: rgba(55, 57, 63, 0.8);
      backdrop-filter: blur(7px);
      text-align: center;
      transition: background-color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: $accent;
         }
      }
      @media (max-width: toEm($pc)) {
         padding: toRem(50) toRem(100);
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(30) toRem(60);
      }
      @media (max-width: toEm($mobileSmall)) {
         padding: toRem(30);
      }
   }
   // .team__title
   &__title {
      font-family: $secondaryFont;
      font-weight: 700;
      font-size: toRem(40);
      line-height: 1.21;
      color: #fff;
      @media (max-width: toEm($mobile)) {
         font-size: toRem(30);
      }
   }
   // .team__image
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
   }
}

// =============================================================================================================

.news {
   padding: toRem(200) toRem(0) toRem(150) toRem(0);
   @media (max-width: toEm($pc)) {
      padding: toRem(100) toRem(0);
   }
   @media (max-width: toEm($tablet)) {
      padding: toRem(70) toRem(0);
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(40) toRem(0);
   }
   // .news__container
   &__container {
   }
   // .news__top
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: toRem(60);
      &:not(:last-child) {
         margin-bottom: toRem(40);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(20);
            flex-wrap: wrap;
            justify-content: center;
            row-gap: toRem(20);
         }
      }
   }
   // .news__header
   &__header {
      .section-header__container {
         padding: 0;
      }
   }
   // .news__button
   &__button {
      background-color: $dark;
      @media (max-width: toEm($mobileSmall)) {
         width: 100%;
      }
   }
   // .news__body
   &__body {
   }
   // .news__blog
   &__blog {
   }
}

// =============================================================================================================

.subscribe {
   // .subscribe__container
   &__container {
   }
   // .subscribe__body
   &__body {
      margin: 0 toRem(-15);
      position: relative;
      padding: toRem(96) toRem(15);
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: toRem(26);
      background-color: rgba(64, 221, 182, 0.75);
      @media (max-width: toEm($tablet)) {
         padding: toRem(70) toRem(15);
      }
   }
   // .subscribe__header
   &__header {
      max-width: toRem(735);
      .section-header__sub-title::before {
         background-color: $secondary;
      }
      .section-header__text {
         color: $dark;
      }
      span {
         color: #fff;
      }
   }
   // .subscribe__button
   &__button {
      @media (max-width: toEm($mobileSmall)) {
         width: 100%;
      }
   }
   // .subscribe__image
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

// =============================================================================================================
