.page {
   // .page__password
   &__password {
      margin-top: toRem(196);
      @media (max-width: toEm($tablet)) {
         margin-top: toRem(181);
      }
      @media (max-width: toEm($mobile)) {
         margin-top: toRem(118);
      }
      @media (max-width: toEm(600)) {
         margin-top: toRem(97);
      }
   }
}

// =============================================================================================================

.password {
   // .password__container
   &__container {
      padding: toRem(120) toRem(15) toRem(150) toRem(15);
      border-top: toRem(1) solid #dddddd;
      @media (max-width: toEm($pc)) {
         padding: toRem(100) toRem(15);
      }
      @media (max-width: toEm($tablet)) {
         padding: toRem(70) toRem(15);
      }
      @media (max-width: toEm($mobileSmall)) {
         margin: 0 toRem(-15);
      }
   }
   // .password__body
   &__body {
      display: grid;
      justify-items: center;
      gap: toRem(44);
      max-width: toRem(696);
      margin: 0 auto;
      background-color: #f8f8f8;
      padding: toRem(100) toRem(115);
      @media (max-width: toEm($mobile)) {
         max-width: 100%;
         padding: toRem(50) toRem(30);
      }
      @media (max-width: toEm($mobileSmall)) {
         padding: toRem(40) toRem(15);
      }
   }
   // .password__icon
   &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: toRem(150);
      height: toRem(150);
      border-radius: 50%;
      border: toRem(5) solid $accent;
      img {
         width: toRem(44);
         height: toRem(75);
         object-fit: contain;
      }
   }
   // .password__header
   &__header {
      .section-header__container {
         padding: 0;
      }
   }
   // .password__form
   &__form {
      width: 100%;
   }
}

.form-password {
   // .form-password__input
   &__input {
      width: 100%;
      height: toRem(65);
      padding: toRem(0) toRem(30);
      border: toRem(1) solid #dddddd;
      color: $dark;
      &:not(:last-child) {
         margin-bottom: toRem(25);
      }
      &::placeholder {
         color: inherit;
      }
   }
   // .form-password__button
   &__button {
      width: 100%;
      font-family: $accentFont;
      font-weight: 600;
      @media (max-width: toEm($mobile)) {
         min-height: toRem(65);
      }
   }
}
