// Font family
$mainFont: "Inter", sans-serif;
$secondaryFont: "Poppins", sans-serif;
$accentFont: "Cabin", sans-serif;

// Colors
$grey: #7d7d7d;
$dark: #37393f;
$accent: #40ddb6;
$secondary: #6b77e5;
$mainBg: #f4f4f4;

// Breakpoints
$pc: 1199.98;
$tablet: 991.98;
$mobile: 767.98;
$mobileMedium: 574.98;
$mobileSmall: 479.98;
